@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-beige-100 {
  background-color: #FFF0E5;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 14rem;
  padding: 0; 
  border: solid 1px;
  border-color: black;
  border-radius: 4px;
  box-shadow: 5px 5px white, 5px 5px 0 1px black;
  transition: box-shadow 200ms ease, transform 200ms ease;
  grid-column-end: span 4;
}

.card:hover {
  box-shadow: 5px 5px 0 1px black;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  box-sizing: border-box;
}
